
.panel-transparent {
        background: none;

}

.panel-transparent .panel-heading {
        background: rgba(46, 51, 56, 0.8);
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        text-align: center;
        font-family: "Great Vibes";
        font: bold;
        font-size: 70px;
        border-width: 3px;
        border-color: blue;
}

.panel-transparent .panel-body {
        background: rgba(46, 51, 56, 0.8);
        height: 500px;
        margin-top: 40px;
        margin-left: 150px;
        margin-right: 150px;
        border-width: 3px;
}

.panel-body{
	border-width: 3px;
    border-color: blue;
}

h2, #update, #question, #answers, #results {
    	color:white;
    	font-family: "Contrail One"
}

#clear {
    	color:gray;
    	text-align: center;
}

#update {
	font-size: 30px;
	text-align: center;
}

#question, #answers {
	font-size: 25px;
}

#question {
	text-align: center;
}

#results {
	text-align: center;
	font-size: 30px;
}

#answersdiv{
	position: relative;
	left:300px;
}

#submit{
	background-color: blue;
	height: 50%;
	width: 50%;
	color: white ;
}

