
.panel-transparent {
        background: none;
}

.panel-transparent .panel-heading {
        background: rgba(122, 130, 136, 0.8);
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
        text-align: center;
}

.panel-transparent .panel-body {
        background: rgba(46, 51, 56, 0.8);
        height: 500px;
        margin-top: 40px;
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
}

#update, #question, #answers, #results {
    	color:white;
}

#sumbit {
    	color:gray;
}